.horizontal-list
  %ul

    %li
      = link_to explore_path do
        #explore_nav_button{:class => "nav_button" }
          .preload

    %li
      = link_to search_path do
        #search_nav_button{:class => "nav_button" }
          .preload

    %li
      = link_to new_report_path do
        #reward_nav_button{:class => "nav_button" }
          .preload
