body {
  background-color: #fff;
}

#container {
  @include container;
  font-family: "Myriad pro", "Helvetica Neue", Arial, Helvetica, Tahoma, sans-serif;
  font-size: 12px;
}

#contents {

  @include column(24,true);
  background  : url(image-path('index_bkgd.png')) no-repeat top center;
  height: 528px;
  position: relative;

  #boxes {

    margin-top: 15px;
    height:42px;
    margin-bottom: 16px;

    .box {
      @include column(8,true);
      height: 42px;
    }

    .explore {
      background  : url(image-path('explore_but.png')) no-repeat top center;
    }

    .search {
      background  : url(image-path('search_but.png')) no-repeat top center;
    }

    .reward {
      background  : url(image-path('reward_but.png')) no-repeat top center;
    }

  }

  #flashes {
    
    @include push(4);
    @include column(16,true);
    @include append(4);
    
    font-size: 14px;

    text-align: center;
    line-height: 16px;

    margin-bottom: 0px;
  }

  #information {
    @include push(1);
    @include column(13, true);
    @include append(10);
    margin-top: 20px;

    p {
      color: #fff;
      text-align: left;
      line-height: 1.85em;
    }
  }

  #links {
    @include push(1);
    @include column(23,true);

    a {
      font-size: 13px;
      line-height: 2.5em;
      font-weight: bold;
      color: #fff;
    }
  }

  #footer {
    @include push(1);
    @include column(23,true);
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    p {
      font-size: 11px;
      @include column(24,true);
      color: #fff;
      line-height: 11px;
    }
  }

}
